body {
  background-color: #FDFDFD;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  text-decoration-color: black !important;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

#textAreaLabel {
    margin-top: 22px;
    display: inline-block;
    margin-bottom: .5rem;
}

#priceInputLabel{
    margin-top: 22px;
    display: inline-block;
    margin-bottom: .5rem;
}

::placeholder {
  color: white;
}


a{
    text-decoration-color: black !important;
    color: black;
}




#logoText{
    color: white;
    vertical-align: middle;
}

.bg-light {
    background-color: #A5C8B9!important;}



#navUser {

   margin: 0 0 0 0;
}

#navAdd{
margin: 0 0 0 auto;

}

.btn-primary {
    color: #fff;
    background-color: #A5C8B9;
    border-color: #a1c1c1;
}
.btn-primary:hover {
    color: #fff;
    background-color: #a5c8b9de;
    border-color: #ffffff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #A5C8B9;
    border-color: #a1c1c1;
}
.btn-secondary{
    color: #fff;
    background-color: #C8C8B4;
    border-color: #c8c8b46e;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #c8c8b4bd;
    border-color: #c8c8b46e;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #C8C8B4;
    border-color: #c8c8b46e;
}

p.pos {
  margin-top: 50px;
}
h1.posH {
   margin-top: 200px
}

.formRow{



}

#signUpButton{
    margin: 20px 0 0 0;
}

#signUpHeading{
margin: 25px 0 0 0;
}

.adListObject{
margin: 25px 0 10px 0;
height: 150px;
border-bottom: solid 1px lightgrey;

}


.adListList{
color: black;

}

.a:hover {
   color: black;
   text-decoration: underline;
   text-decoration-color: black !important;
 }

 a, u, p, h5 {
     text-decoration-color: black !important;
     color: black;
 }

.container{
    margin-top: 100px;
}
 #myBtn {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 1px;
}

#myBtn:hover {
  background-color: #555;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -5;
}

#priceId{
    margin-bottom: 0;
}

#descId{
    margin-bottom: 0;
}

#advertHeader{

    margin: 0 auto;
    font-size: 32px;
    margin-bottom: 100px;


}
