#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #000;
}

#textAreaLabel {
    margin-top: 22px;
    display: inline-block;
    margin-bottom: .5rem;
}

#priceInputLabel{
    margin-top: 22px;
    display: inline-block;
    margin-bottom: .5rem;
}

::placeholder {
  color: white;
}







#logoText{

    vertical-align: middle;
}

.bg-light {
    background-color: #dee2e6!important;}


#userDiv {

    margin: 0 0 0 auto;
}

p.pos {
  margin-top: 50px;
}
h1.posH {
   margin-top: 200px
}

.formRow{



}

#signUpButton{
    margin: 20px 0 0 0;
}

#signUpHeading{
margin: 25px 0 0 0;
}

.adListObject{
margin: 25px 0 10px 0;
height: 150px;
border-bottom: solid 1px lightgrey;

}


.adListList{
color: black;

}

.a:hover {
   color: black;
   text-decoration: underline;
   text-decoration-color: black !important;
 }

 a, u {
     text-decoration-color: black !important;
 }

.container{
    margin-top: 100px;
}

