#logoText{

    vertical-align: middle;
}

.bg-light {
    background-color: #dee2e6!important;}


#userDiv {

    margin: 0 0 0 auto;
}

p.pos {
  margin-top: 50px;
}
h1.posH {
   margin-top: 200px
}

.formRow{
    margin: 50px 0 0 0;


}

#signUpButton{
    margin: 20px 0 0 0;
}

#signUpHeading{
margin: 25px 0 0 0;
}

.adListObject{
margin: 25px 0 10px 0;
height: 150px;
border-bottom: solid 1px lightgrey;

}

.adListContainer{
margin-top: 100px;

}

.adListList{
color: black;

}

.a:hover {
   color: black;
   text-decoration: underline;
   text-decoration-color: black !important;
 }

 a, u {
     text-decoration-color: black !important;
 }

