<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head th:replace="fragments :: head" />
<body>
<div th:replace="fragments :: navbar" />


<!--<form action="/addadvert" th:object="${advert}" method="POST">
    Header: <input type="text" th:field="${advert.header}"/>
    Description: <input type="text" th:field="${advert.description}"/>
    Price: <input type="text" th:field="${advert.price}"/>
    Image URL: <input type="text" th:field="${advert.url}"/>
    Category: <input type="text" th:field="${advert.categoryId}"/>
    Location: <input type="text" th:field="${advert.locationId}"/>
    UserId: <input type="text" th:field="${advert.userId}"/>
    AdTypeId: <input type="text" th:field="${advert.adTypeId}"/>
    AdventId: <input type="text" th:field="${advert.id}"/>
    <input type="submit" value="Save Advert">
</form>-->
<div class="container">
    <form action="/AddAdvert" th:object="${advert}" method="POST">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Title" th:field="${advert.header}">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Price" th:field="${advert.price}">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Advert URL" th:field="${advert.url}">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea type="text" class="form-control" placeholder="Description" th:field="${advert.description}" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Category Id" th:field="${advert.categoryId}">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Location Id" th:field="${advert.locationId}">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Dropdown" th:field="${advert.adTypeId}">
            </div>

            </div>
            <div class="col" hidden>
                <input type="text" class="form-control" placeholder="Advert Id" th:field="${advert.id}">
            </div>
            <div class="col" hidden>
                <input type="text" class="form-control" placeholder="User Id" th:field="${advert.userId}">
            </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
</body>
</html>

