<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Yuo are interested in:</h1>

<p th:text="${advert.header}" Header/>
<p th:text="${advert.id}" - ID/>
<p th:text="${advert.description}" - Description/>
<p th:text="${advert.price}" - Price/>
<p th:text="${advert.url}" - url/>
<p th:text="${advert.categoryId}" - Category/>
<p th:text="${advert.locationId}" - Location/>
<p th:text="${advert.userId}" - User/>
<p th:text="${user.id}" - User/>
<p th:text="${user.firstName}" - First name/>
<p th:text="${user.lastName}" - Last name/>
<p th:text="${user.email}" - Email/>
<p th:text="${user.phone}" - Phone/>
<img src="../car seat.jpg"/>
</body>
</html>