<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments :: head" />
<body>
<div th:replace="fragments :: navbar" />
<div class="container">

    <!--Section: Block Content-->
    <section class="mb-5">
        <div class="row">
            <h5 id="advertHeader" th:text="${advert.header}" Header/>
        </div>

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">


                <div class="col-12 mb-0">
                    <figure class="view overlay rounded z-depth-1 main-img">
                        <a th:href="${advert.url}" data-size="400x350">
                            <img th:src="${advert.url}" alt="hej" class="img-fluid z-depth-1" height="400" width="350"/>

                        </a>
                    </figure>

                </div>



            </div>
            <div class="col-md-6">
                <p id="priceId" ><b>Price:</b></p>
                <div style="overflow: hidden;width: fit-content;">

                    <p th:text="${advert.price}" style="float: left;"></p>
                    <p style="float: right;">kr</p>
                </div>


                <p><b>Advert category:</b><br/>For Sale</p>
                <p id="descId"><b>Description:</b>
                <p th:text="${advert.description}" - Description/>

                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                        <tr hidden>
                            <th class="pl-0 w-25" scope="row"><strong>Location</strong></th>
                            <td><p th:text="${advert.locationId}" - Location/></td>
                        </tr>
                        <tr hidden>
                            <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
                            <td><p th:text="${advert.categoryId}" - Category/></td>
                        </tr>
                        <tr hidden>
                            <th class="pl-0 w-25" scope="row"><strong>Advert type</strong></th>
                            <td>For Sale</td>
                        </tr>
                        </tbody>
                    </table><br>

                  <!--  <button class="SendEmail btn btn-primary btn-md mr-1 mb-2">I am interested</button> -->

                    <button class="btn btn-primary btn-md mr-1 mb-2" onclick="sendEmail();">I'm interested!</button>

                </div>
                <hr>
            </div>
        </div>


    </section>
    <!--Section: Block Content-->

</div>





<script>
$(function () {
      $('.SendEmail').click(function (event) {
        var email = 'john.doe@hm.com';
        var subject = 'Advert';
        var emailBody = 'Hi,';
        var attach = '';
        document.location = "mailto:"+email+"?subject="+subject+"&body="+emailBody+
            attach;
      });
    });
</script>

<script>
function sendEmail()
{
    window.location = "mailto:Fredrik.BullSimonsen@hm.com?subject=re: your advert on HM Group Noticeboard";
}
</script>
</body>
</html>




