<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<body>
<div th:replace="fragments :: navbar" />
<div class="container">
<!--
<p th:text="${advert.header}" Header/>
<p th:text="${advert.id}" - ID/>
<p th:text="${advert.description}" - Description/>
<p th:text="${advert.price}" - Price/>
<p th:text="${advert.url}" - url/>
<p th:text="${advert.categoryId}" - Category/>
<p th:text="${advert.locationId}" - Location/>
<p th:text="${advert.userId}" - User/>
<p th:text="${user.id}" - User/>
<p th:text="${user.firstName}" - First name/>
<p th:text="${user.lastName}" - Last name/>
<p th:text="${user.email}" - Email/>
<p th:text="${user.phone}" - Phone/>
-->




    <!--Section: Block Content-->
    <section class="mb-5">

        <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">


                <div class="col-12 mb-0">
                    <figure class="view overlay rounded z-depth-1 main-img">
                        <a th:href="${advert.url}" data-size="710x823">
                            <img th:src="${advert.url}" alt="hej" class="img-fluid z-depth-1" />

                        </a>
                    </figure>

                </div>



            </div>
            <div class="col-md-6">

                <h5 th:text="${advert.header}" Header/>

                <p th:text="${advert.price}" - Price/></p>
                <p th:text="${advert.description}" - Description/>
                <div class="table-responsive">
                    <table class="table table-sm table-borderless mb-0">
                        <tbody>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Location</strong></th>
                            <td><p th:text="${advert.locationId}" - Location/></td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Category</strong></th>
                            <td><p th:text="${advert.categoryId}" - Category/></td>
                        </tr>
                        <tr>
                            <th class="pl-0 w-25" scope="row"><strong>Advert type</strong></th>
                            <td>For Sale</td>
                        </tr>
                        </tbody>
                    </table><br>

                  <!--  <button class="SendEmail btn btn-primary btn-md mr-1 mb-2">I am interested</button> -->

                    <button class="btn btn-primary btn-md mr-1 mb-2" onclick="sendEmail();">I am interested...</button>

                </div>
                <hr>
            </div>
        </div>


    </section>
    <!--Section: Block Content-->

</div>





<script>
$(function () {
      $('.SendEmail').click(function (event) {
        var email = 'john.doe@hm.com';
        var subject = 'Advert';
        var emailBody = 'Hi,';
        var attach = '';
        document.location = "mailto:"+email+"?subject="+subject+"&body="+emailBody+
            attach;
      });
    });
</script>

<script>
function sendEmail()
{
    window.location = "mailto:xyz@abc.com";
}
</script>
</body>
</html>




