<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<style>
body {
  background-color: #EFF1ED;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
</style>
<body>
<div th:replace="fragments :: navbar" />

<div class="container">

    <div class="row">
         <div class="col-sm">

    </div>
    <div class="col-sm formRow">
        <form action="/login" id="changePwd">
            <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword" aria-describedby="passwordHelp" placeholder="Enter New Password" required>
                <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp" placeholder="Repeat New Password" required>
                <small id="passwordHelp" class="form-text text-muted">Keep your password safe.</small>
            </div>

            <button  type="submit" class="btn btn-lg btn-primary btn-block" onclick="myFunction()">Reset Password</button>
            <small id="passwordResetHelp" class="form-text text-muted">You will be redirected to the login page after clicking on the "Reset Password" button. </small>

        </form>

    </div>
    <div class="col-sm">

    </div>
</div>

</div>

<script>
      function myFunction() {
        document.getElementById("login").submit();
      }
      function anotherFunction(){
      document.getElementById("signUp").submit();
      }
      </script>








</body>
</html>


