<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- JavaScript Bundle with Popper -->
<html lang="en">
<head th:replace="fragments :: head" />

<body>
    <div th:replace="fragments :: navbar" />
<h1> Available ads:</h1>
<table style="text-align:left">
    <tr>
        <th>Header</th>
        <th>Description</th>
    </tr>
    <tr th:each="ad : ${advertList}">
        <th><a th:href="'/advert/' + ${ad.id}" th:text="${ad.header}" ></a></th>
        <th th:text="${ad.description}" ></th>
        <th><img th:src="${ad.url}" height=200/></th>
    </tr>
</table>
</div>

</body>
</html>