<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- JavaScript Bundle with Popper -->
<html lang="en">
<head th:replace="fragments :: head" />

<body class="backgroundBody2">
<button onclick="topFunction()" id="myBtn" title="Go to top">▲</button>

    <div th:replace="fragments :: navbar" />

    <div class="container">

        <ul class="list-unstyled">
            <div class="adListObject" th:each="ad : ${advertList}" th:href="'/advert/' + ${ad.id}" style="">
                <a class="mt-0 mb-1" th:href="'/advert/' + ${ad.id}" >
                <li class="media adListList">
                <img class="mr-3" th:src="${ad.url}" alt="Generic placeholder image" width="180" height="135">
                <div class="media-body">
                <h5 class="mt-0 mb-1" th:text="${ad.header}"></h5>

                <p th:text="${ad.description}"></p>
                    <div style="overflow: hidden;width: fit-content;">
                        <p th:text="${ad.price}" style="float: left;"></p>
                        <p id="kronorP" style="float: right;">kr</p>
                    </div>

                </div>

                    <hr />
                    <div>
            </div>
            </li>
            </a>
        </ul>
    </div>

<script>
    var mybutton = document.getElementById("myBtn");
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
}
    else
 {
    mybutton.style.display = "none";
}
}

    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
</body>
</html>
