<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- JavaScript Bundle with Popper -->
<html lang="en">
<head th:replace="fragments :: head" />

<body>
    <div th:replace="fragments :: navbar" />


    <div class="container adListContainer">

        <ul class="list-unstyled">
            <div class="adListObject" th:each="ad : ${advertList}" th:href="'/advert/' + ${ad.id}" style="">
                <a class="mt-0 mb-1" th:href="'/advert/' + ${ad.id}" >
                <li class="media adListList">
                <img class="mr-3" th:src="${ad.url}" alt="Generic placeholder image" width="203" height="135">
                <div class="media-body">
                <h5 class="mt-0 mb-1" th:text="${ad.header}"></h5>

                <p th:text="${ad.description}"></p>

                </div>
                <hr />
            </div>

            </li>
            </a>

        </ul>

    </div>

</body>
</html>
