<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <center>
        <h1>Login</h1>

        <form id="login" action="/" >
            <input type="text" placeholder="Email address"><br>
            <input type="password" placeholder="Password"><br><br>
            <input type="button" onclick="myFunction()" value="Login">
        </form>
        <form id="signUp" action="/signUp" >
            <input type="button" onclick="anotherFunction()" value="Sign Up">
        </form>

        <script>
      function myFunction() {
        document.getElementById("login").submit();
      }
      function anotherFunction(){
      document.getElementById("signUp").submit();
      }
      </script>
    </center>
</body>
</html>