<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />

<body class="backgroundBody">
<div th:replace="fragments :: navbar" />
<!--<form action="/login" method="POST">-->
<!--    Username: <input type="text" name="username"/>-->
<!--    Password: <input type="password" name="password"/>-->
<!--    <input type="submit"/>-->
<!--</form>-->

<!-- <center>
    <h1>Login</h1>

    <form id="login" action="/" >
        <input type="text" placeholder="Email address"><br>
        <input type="password" placeholder="Password"><br><br>
        <input type="button" onclick="myFunction()" value="Login">
    </form>
    <form id="signUp" action="/signUp" >
       <input type="button" onclick="anotherFunction()" value="Sign Up">
    </form>


</center> -->
<div class="container">

    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm formRow">
            <form action="/login" id="login" method="POST">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>

                <button  type="submit" class="btn btn-lg btn-primary btn-block" onclick="myFunction()">Login</button>
            </form>

            <form id="signUp" action="/signUp" >
                <input type="button" id="signUpButton" class="btn btn-lg btn-secondary btn-block" onclick="anotherFunction()" value="Create new account">
            </form>
        </div>
        <div class="col-sm">

        </div>
    </div>



</div>

<!--<video autoplay muted loop id="myVideo">-->
<!--    <source src="https://assets.mixkit.co/videos/preview/mixkit-sunlight-passing-through-the-leaves-of-a-tree-34371-large.mp4" type="video/mp4">-->
<!--</video>-->

<script>
      function myFunction() {
        document.getElementById("login").submit();
      }
      function anotherFunction(){
      document.getElementById("signUp").submit();
      }
</script>


</body>
</html>