<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<style>
body {
  background-color: #EFF1ED;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
</style>
<body>
<div th:replace="fragments :: navbar" />
<div class="container adListContainer">

    <ul class="list-unstyled">
        <div class="adListObject" th:each="ad : ${advertList}" th:href="'/advert/' + ${ad.id}" style="">
            <a class="mt-0 mb-1" th:href="'/advert/' + ${ad.id}" >
                <li class="media adListList">
                    <img class="mr-3" th:src="${ad.url}" alt="Generic placeholder image" width="203" height="135">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1" th:text="${ad.header}"></h5>

                        <p th:text="${ad.description}"></p>
                        <a th:href="@{/AddAdvert}" href="AddAdvert.html" class="btn btn-secondary btn-sm">Edit</a>
                        <button type="button" class="btn btn-dark btn-sm" data-toggle="modal" data-target="modal" th:data-target="'#exampleModal' + ${ad.id}">
                            Delete advert
                        </button>

                        <div class="modal fade" th:id="'exampleModal' + ${ad.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete this advert?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a th:href="'/deleteadvert/' +${ad.id}" button type="button" class="btn btn-dark">Delete advert</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
        </div>

        </li>
        </a>

    </ul>

</div>
</body>
</html>
