<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<center>
    <h4>Enter your email address below and we will send you a first time password</h4><br>
    <form th:action="@{/signUp}" method="post">
        <input type="text" placeholder="Email address"/><br><br>
        <button id="button_login">Sign Up</button>
    </form>
</center>
</body>
</html>