<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head" />
<style>
    body{
     background-color: #f8f5f5;
    }
</style>
<body>
<div th:replace="fragments :: navbar" />


<div class="container">
    <center>
        <h4 id="signUpHeading">Enter your email address below and we will send you a first time password</h4><br>
    </center>

    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm formRow">

            <form action="/checkEmail" id="signUp">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <input type="button" id="signUpButton" class="btn btn-lg btn-secondary btn-block" onclick="myFunction()" value="Create new account">

            </form>

        </div>
        <div class="col-sm">

        </div>
    </div>



</div>

<script>
      function myFunction() {
        document.getElementById("signUp").submit();
      }
      </script>
</body>
</html>