<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head th:replace="fragments :: head" />
<body>
<div th:replace="fragments :: navbar" />

    <html xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Upload dialog</title>
    <head>
</head>

<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>





<!-- th:object="${advert}"
-->
<div class="container">
    <form action="/AddUploadAdvert" th:object="${smalladvert}"  method="POST" enctype="multipart/form-data" >
        <div class="row">
            <div class="col">
                <label for="titleInput">Title</label>
                <input id="titleInput" type="text" class="form-control" placeholder="Title" th:field="${smalladvert.header}">
                <label id="priceInputLabel" for="priceInput">Price</label>
                <input id="priceInput" type="text" class="form-control" placeholder="Price" th:field="${smalladvert.price}" style="::placeholder{color: white;}">
                <label id="textAreaLabel" for="textArea">Description</label>
                <textarea id="textArea" type="text" class="form-control" placeholder="Description" th:field="${smalladvert.description}" rows="7"></textarea>
            </div>
            <div class="col">
                <div>
                    <ul style="padding:0;">
                        <li th:each="file : ${files}" style="list-style-type: none;">
                            <img th:src="${file}" height="400" width="350"/>
                            <!---    <a th:href="${file}" th:text="${file}" />

                            </li>-->
                    </ul>
                </div>
            </div>
            <div class="col">
                <div>
                        <input type="file" name="file" />
           </div>
            </div>

        </div>

        <div class="row">
            <div class="col">

            </div>
            <div class="col">

            </div>
            <div class="col">



            </div>

        </div>

        <div class="row">

            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>


        <div class="row">
        </div>
        <div class="col" hidden>
            <input type="text" class="form-control" placeholder="Advert Id">
        </div>
        <div class="col" hidden>
            <input type="text" class="form-control" placeholder="User Id" >
        </div>

        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                <button type="submit" class="btn btn-lg btn-secondary btn-block">Save</button>
            </div>
            <div class="col">
            </div>
        </div>
        <!--<button type="submit" class="btn btn-lg btn-secondary btn-block">Save</button> -->
    </form>
</div>

</body>
</html>
