<!DOCTYPE html>
<html lang="en">

    <html xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Upload dialog</title>
    <head>
        <style>
body {
  background-color: #EFF1ED;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}
</style>
</head>

<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/new">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>

<div>
    <ul>
        <li th:each="file : ${files}">
            <img th:src="${file}" height="400"/>
        <!---    <a th:href="${file}" th:text="${file}" />

        </li>-->
    </ul>
</div>

</body>
</html>