<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head th:replace="fragments :: head" />
<body>
<div th:replace="fragments :: navbar" />

    <html xmlns:th="https://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Upload dialog</title>
    <head>
</head>

<body>
<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" action="/new">
        <table>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>


//---
<!-- th:object="${advert}"
-->
<div class="container">
    <form action="/AddUploadAdvert" th:object="${smalladvert}"  method="POST"  >
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Title" th:field="${smalladvert.header}">            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Price" th:field="${smalladvert.price}">
            </div>
            <div class="col">
            </div>
            <div class="col">

            </div>

        </div>

        <div class="row">
            <div class="custom-file col ">
                <input type="file" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <textarea type="text" class="form-control" placeholder="Description" th:field="${smalladvert.description}" rows="3"></textarea>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="col" hidden>
            <input type="text" class="form-control" placeholder="Advert Id">
        </div>
        <div class="col" hidden>
            <input type="text" class="form-control" placeholder="User Id" >
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="submit" class="btn btn-lg btn-secondary btn-block">Save</button>

//--
<div>
    <ul>
        <li th:each="file : ${files}">
            <img th:src="${file}" height="400"/>
        <!---    <a th:href="${file}" th:text="${file}" />

        </li>-->
    </ul>
</div>

    </form>
</div>

</body>
</html>
